### Gradle ###
.gradle/
build/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### VS Code ###
.vscode/

### Logs ###
*.log

### Gradle Wrapper ###
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### Eclipse/STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Java ###
*.class

### JAR files ###
*.jar

# Ignore application.properties
src/main/resources/application.properties

# Ignore Firebase config
src/main/resources/hospital-8c922-firebase-adminsdk-d58b7-325babf40f.json

# Windows
Thumbs.db

# Local environment variables
.env
